body{
	background: url(../images/company_logo.png) no-repeat center;
	background-size: 5rem;
}
.title{
	font-family: "黑体";
	font-size: .3rem;
	width: 5.86rem;
	height: .58rem;
	line-height: .58rem;
	border-radius: 30px;
	background: #FFF;
	text-align: center;
	margin: .28rem auto;
	box-shadow:5px 5px 10px #eff8ff, -5px 5px 10px #eff8ff;
}
.content{
	width: 6.24rem;
	height: 8.69rem;
	font-weight: bold;
	line-height: .53rem;
	border-radius: 20px;
	background: rgba(255,255,255,0.8);
	margin: 0 auto;
	font-size: .3rem;
	padding: .2rem;
	text-indent: 2em;
	letter-spacing: .05rem;
	box-shadow:5px 5px 10px #eff8ff, -5px 5px 10px #eff8ff;
	
}
